.card {
  flex: 1 0 25%;
  min-width: 260px;
  max-width: 280px;
  height: 690px;
  background: #060d2c;
  margin: 5px;
  margin-top: 50px;
  padding: 26px 15px 30px;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    height: 90px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }

  img {
    width: 100%;
    height: 390px;
    object-fit: cover;
    object-position: top;
    display: block;
    margin: 0 auto;
    border: 5px solid white;
  }
  h2 {
    margin: 24px 0 0px;
    letter-spacing: 1px;
    line-height: 20px;
  }
  h5 {
    color: $color-3;
    letter-spacing: 1px;
    font-size: 1.2rem;
    font-weight: 300;
  }
  h4 {
    letter-spacing: 1px;
    font-size: 1.2rem;
    margin-top: -4px;

    span {
      font-size: 0.7rem;
    }
  }
  ul {
    margin: 6px 0;
    display: flex;
    flex-wrap: wrap;
  }
  li {
    background: #212040;
    border-radius: 18px;
    padding: 0px 7px;
    margin: 0 4px 4px 0;
    font-size: 1.1rem;

    &:first-child {
      margin-left: -4px;
    }
  }
  h3 {
    letter-spacing: 1px;
    font-size: 1.4rem;
    margin-top: 10px;
  }
  p {
    color: $color-3;
    font-size: 1.3rem;
    line-height: 20px;
    height: 80px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  .imgModale{
    height: 100%;
    object-fit: contain;
    border: none;
    position: relative;
   margin-top: 50px;
    z-index: 100;
  }
  .btn, .btn2, .btn3 {
    background: transparent;
    position: absolute;
    bottom: 16px;
    left: 5%;
    width: 0px;
    text-align: center;
    cursor: pointer;
    z-index: 50;
    &:hover {
      color: #060d2c;
      
    }
  }
  .btn2 {
    left: 15%;
  }
  .btn3 {
    left: 90%;
  }
  .downPost {
    color: white;
    &:hover {
      color:#212040;
    }
  }
  
}
